.nav{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;

}

.subNav{
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    border:1px solid var(--grey-2);
    color: var(--grey-1);
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.subNav input::file-selector-button{
    /* border: 1px solid black; */
    content: 'holaa';
}

.navOptions{
    flex-grow: 1;
    justify-content: space-between;
}

.navList{
    display: flex;
    gap: 0.4rem;
}

.navStatus{
    justify-self: flex-end;
}

